@using RealEstateWebsite.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Name of my Website</h1>
    <p class="lead">Name of my website is the best place to find accomodation in the Netherlands.</p>
    <p><a asp-controller="Information" asp-action="About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find an agent</h2>
        <p>See the most complete overview of professional agencies and find an agent close by to you.</p>
        <p><a class="btn btn-primary" asp-controller="Agency" asp-action="All">To Overview &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
