@using RealEstateWebsite.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Name of my Website</h1>
    <p class="lead">Name of my website is the best place to find accomodation in the Netherlands.</p>
    <p><a asp-controller="Information" asp-action="About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cities which we operate</h2>
        <p>
            Optimize your search as you choose the exact city in which you search for accomodation.
        </p>
        <p><a class="btn btn-primary" asp-controller="District" asp-action="All">List of cities &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find an agent</h2>
        <p>See the most complete overview of professional agencies and find an agent close by to you.</p>
        <p><a class="btn btn-primary" asp-controller="Agency" asp-action="All">To Overview &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>A guide for expats</h2>
        <p>Some guidelines, tips and tricks to help you find a happy home using our service.</p>
        <p><a class="btn btn-primary" asp-controller="Information" asp-action="Guide">Go to Guide &raquo;</a></p>
    </div>
</div>
