@using RealEstateWebsite.Common
@model IndexSearchViewModel
@{
    this.ViewBag.Title = "Home Page";
}

<form asp-controller="Posts" asp-action="BySearch" class="row g-4 needs-validation" method="get">
    <div class="col-md-2 mt-3">
        <label asp-for="Type"></label>
        <select asp-for="Type" class="form-control">
            @foreach (var type in Model.Types)
            {
                <option value="@type.ToString()">@type.ToString()</option>
            }
        </select>
        <span asp-validation-for="Type" class="small text-danger"></span>
    </div>
    <div class="col-md-2 mt-3">
        <label asp-for="DistrictId"></label>
        <select asp-for="DistrictId" class="form-control">
            @foreach (var district in Model.Districts)
            {
                <option value="@district.Id">@district.Name</option>
            }
        </select>
        <span asp-validation-for="DistrictId" class="small text-danger"></span>
    </div>
    <div class="col-md-2 mt-3">
        <label asp-for="MaxPrice"></label>
        <input asp-for="MaxPrice" class="form-control">
        <span asp-validation-for="MaxPrice" class="small text-danger"></span>
    </div>
    <div class="col-md-4 mt-5">
        <input class="btn btn-primary" type="submit" value="Search" />
    </div>
</form>

<div class="jumbotron mt-5">
    <h1 class="text-center">ASP.Net Core MVC Educational Project</h1>
    <p class="lead text-center">ASP.Net Core MVC Educational Project is the best place to find accomodation in the Netherlands.</p>
    <p class="text-center"><a asp-controller="Posts" asp-action="All" class="btn btn-primary btn-lg">Find your new home now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 mt-2">
        <h2 class="text-center">Our Cities</h2>
        <p>
            Optimize your search as you choose the exact city in which you search for accomodation.
        </p>
        <p class="text-center"><a class="btn btn-primary" asp-controller="Districts" asp-action="All">List of cities &raquo;</a></p>
    </div>
    <div class="col-md-4 mt-2">
        <h2 class="text-center">Find an agent</h2>
        <p>See the most complete overview of professional agencies and find an agent close by to you.</p>
        <p class="text-center"><a class="btn btn-primary" asp-controller="Agencies" asp-action="All">To Overview &raquo;</a></p>
    </div>
    <div class="col-md-4 mt-2">
        <h2 class="text-center">A guide for expats</h2>
        <p>Some guidelines, tips and tricks to help you find a happy home using our service.</p>
        <p class="text-center"><a class="btn btn-primary" asp-controller="Information" asp-action="Guide">Go to Guide &raquo;</a></p>
    </div>
</div>
