@using RealEstateWebsite.Common
@{
    this.ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASAP Rentals</h1>
    <p class="lead">ASAP Rentals is the best place to find accomodation in the Netherlands.</p>
    <p><a asp-controller="Posts" asp-action="All" class="btn btn-primary btn-lg">Find your new home now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Cities</h2>
        <p>
            Optimize your search as you choose the exact city in which you search for accomodation.
        </p>
        <p><a class="btn btn-primary" asp-controller="Districts" asp-action="All">List of cities &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find an agent</h2>
        <p>See the most complete overview of professional agencies and find an agent close by to you.</p>
        <p><a class="btn btn-primary" asp-controller="Agencies" asp-action="All">To Overview &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>A guide for expats</h2>
        <p>Some guidelines, tips and tricks to help you find a happy home using our service.</p>
        <p><a class="btn btn-primary" asp-controller="Information" asp-action="Guide">Go to Guide &raquo;</a></p>
    </div>
</div>
