@{
    ViewBag.Title = "Expat Guide";
}

<div class="container">
    <h1 style="margin: 2%; text-align: center;">The three steps to find a house in The Netherlands</h1>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h5>1. Search our database</h5>
                <p class="lead">
                    Our database of houses is updated on a daily
                    basis. Using our extensive filters you are able
                    to search the database. As an extra, we provide
                    an email service. All you need to do is set your
                    preferences, and we will keep you up-to-date!
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h5>2. Send a message</h5>
                <p class="lead">
                    Have you found a home that interests you? The
                    next step is to request a viewing by filling a single form and then one of our administrators will forward your request to the real estate agent.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h5>3. Visit your new home</h5>
                <p class="lead">
                    If the property is still vacant and the real estate agent has approved your request, we will sent you details for the viewing. And
                    when all goes well, you might be standing in your
                    new home!
                </p>
            </div>
        </div>
    </div>
</div>
