@{ 
    ViewBag.Title = "Success page";
}

<div class="container">
    <h1 style="margin: 2%; text-align: center;">Your request has been sent successfully!</h1>
</div>
<div class="container">
    <h3 style="margin: 2%; text-align: center;">The Estate agent will contact your as soon as possible. Till then you can keep looking for another offers on <a asp-controller="Posts" asp-action="All">our website</a></h3>
</div>