@model List<AllPostsServiceModel>

@{
    ViewBag.Title = "All Posts";
}

@if (!Model.Any())
{
    <div class="container">
        <h1 class="text-center">There are currently no offers on our website!</h1>
    </div>
}

<div class="container">
    <h1 class="text-center">Our current offerings</h1>
</div>

<partial name="_AllPostsPartial" model="@Model" />
