@using RealEstateWebsite.Common

@{
    ViewBag.Title = "All Posts";
}

@*if (!Model.Any())
{
    <div class="container">
        <h1 class="text-center">There are currently no offers on our website!</h1>
    </div>
}*@

<table class="table">
    <thead>
        <tr>
            <th>
                some title
            </th>
            <th>
                some type
            </th>
            <th>
                is deleted
            </th>
            <th>
                created on
            </th>
            <th>
                modified on
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                some title
            </td>
            <td>
                some type
            </td>
            <td>
                is deleted
                deleted on
            </td>
            <td>
                created on
            </td>
            <td>
                modified on
            </td>
            <td>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a asp-controller="Posts" asp-action="Edit">Edit</a>
                    <a asp-controller="Posts" asp-action="Delete">Delete</a>
                }

                <a asp-controller="Posts" asp-action="Details">Details</a>
            </td>
    </tbody>
</table>
