@model List<AllPostsServiceModel>

@{
    ViewBag.Title = "All Posts to this District";
}

@if (!Model.Any())
{
    <div class="container">
        <h1 class="text-center">There are currently no offers!</h1>
    </div>
}

@if (Model.Any())
{
    <div class="container">
        <h1 class="text-center">All Posts in the Town</h1>
    </div>
}

<partial name="_AllPostsPartial" model="@Model" />
