@model List<AllAgenciesServiceModel>
@{
    ViewBag.Title = "Our Agencies";
}


<div class="container">
    @foreach (var agent in Model)
    {
        <div class="card mt-3 text-center">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">@agent.Name</h5>
                <p class="card-text">@agent.Description</p>
                <a href="#" class="btn btn-primary">See more</a>
            </div>
            <a asp-controller="Posts" asp-action="ByAgent" asp-route-agentId="@agent.AgentId" class="card-footer text-muted">
                @agent.TotalPropertiesCount Rental Offers
            </a>
        </div>
    }
</div>


